<div class="container mb-2 mt-2">
  <div class="px-6 py-4 border border-dark-subtle rounded-3">

    <%= render @pet %>

    <div class="text-center">
      <%= link_to t('pets.show.back', username: Current.user.username.split(" ").map(&:capitalize).join(" ")), pets_path, class: "btn btn-outline-primary" %>
      <%= link_to t('pets.show.edit', petname: @pet.petname.capitalize), edit_pet_path(@pet), class: "btn btn-outline-success" %>
      <%= link_to t('pets.show.destroy', petname: @pet.petname.capitalize), @pet, class: "btn btn-outline-danger", data: {"turbo-confirm":  t('pets.show.confirm', petname: @pet.petname.capitalize), "turbo-method": :delete } %>
    </div>
  </div>
</div>