<h1 class="text-center mt-4" style="font-weight: bold;"><%= Current.user.username.capitalize%>'s Profile</h1>

<div class="text-center m-4">
  <%= link_to "Edit Profile", edit_user_path(Current.user), class: "btn btn-outline-success btn-sm mb-4" %>
  <%= link_to "Delete Profile", user_path(Current.user), class: "btn btn-outline-danger btn-sm mb-4 text-danger", data: {"turbo-confirm":  "Are you sure to delete this user account? The user and associated trackers will all gone..", "turbo-method": :delete } %>
</div>