<div class="container text-center mb-2 mt-2">
  <div class="px-6 py-4 border border-dark-subtle rounded-3">
    <h1 class="text-center mt-4 mb-4 bi-database-fill"> <%= t('dry_foods.new.title') %></h1>

    <%= render "form", dry_food: @dry_food %>
  </div>
</div>
