<% content_for :title, "Editing tracker" %>

<h1>Editing tracker</h1>

<%= render "form", tracker: @tracker %>

<br>

<div>
  <%= link_to "Show this tracker", @tracker %> |
  <%= link_to "Back to trackers", trackers_path %>
</div>
