<p style="color: green"><%= notice %></p>

<% content_for :title, "Trackers" %>

<h1>Trackers</h1>

<div id="trackers">
  <% @trackers.each do |tracker| %>
    <%= render tracker %>
    <p>
      <%= link_to "Show this tracker", tracker %>
    </p>
  <% end %>
</div>

<%= link_to "New tracker", new_tracker_path %>
