<% content_for :title, "Trackers" %>

<h1>Trackers</h1>

<div id="trackers">
  <% @trackers.each do |tracker| %>
    <%= render tracker %>
    
  <% end %>
</div>

<%= link_to "New tracker", new_pet_tracker_path %>
