<h1 class="text-center mt-4 mb-4"><%= t('trackers.new.title', petname: @pet.petname.capitalize) %></h1>

<%= render "form", tracker: @tracker %>

<br>

<div class="d-flex justify-content-center mb-3">
  <%= link_to t('trackers.new.back'), pet_trackers_path(@pet) %>
</div>